@namespace Unilake.WebApp.DesignSystem.Components
@inherits UnilakeBaseComponent

<ClickOutside OnClickOutside="Toggle" IsEnabled="_isDropdownVisible" Strategy="ClickOutside.RegisterStrategy.OnClick">
    <div class="relative flex-col inline-flex items-end">
        <div class="">
            <Button Variant="ButtonVariant.Bravo" @onclick="Toggle" RightIcon="GetRightIcon()">
                @ButtonText
            </Button>
        </div>
        <div class="@ClassNames">
            @ChildContent
        </div>
    </div>
</ClickOutside>

@code {
    [Parameter]
    public string ButtonText { get; set; } = "Button Text";

    [Parameter]
    public DropdownHorizontalAlign Align { get; set; } = DropdownHorizontalAlign.Right;

    private bool _isDropdownVisible;
    private IIcon GetRightIcon() => _isDropdownVisible ? EnronIcons.ChevronUp : EnronIcons.ChevronDown;
    private Task Toggle()
    {
        _isDropdownVisible = !_isDropdownVisible;
        return Task.CompletedTask;
    }
    protected override string ClassNames => ClassBuilder
        .Add("absolute top-14 z-20 w-fit")
        .AddCompare("right-0", Align, DropdownHorizontalAlign.Left)
        .AddCompare("left-0", Align, DropdownHorizontalAlign.Right)
        .AddIf("hidden", !_isDropdownVisible).ToString();
}