@page "/article"
@attribute [RenderStatic]
@model Unilake.Www.Pages.Shared.ArticleModel
@{
    <div class="2xl:container md:py-XXL py-[64px] grid grid-cols-1 md:gap-XXL gap-XL px-L mx-auto">

        <div class="grid md:grid-cols-3 items-start gap-XL">
            <span class="flex items-center gap-S text-Medium text-brandPrimary">
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none">
                    <path d="M5.27325 7.56L2.21992 4.5L5.27325 1.44L4.33325 0.5L0.333252 4.5L4.33325 8.5L5.27325 7.56Z" fill="#E6EFF4" />
                </svg>
                Back
            </span>
            <div class="grid grid-cols-1 gap-M items-start py-0">
                <p class="text-H3 text-brandPrimary py-0">Article</p>
                <div class="md:col-span-2">
                    <div class="flex gap-M h-[48px] min-w-[293px]">
                        <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                        <div class="flex flex-col justify-between min-w-[229px]">
                            <span class="text-Medium text-textPrimary">John Smith</span>
                            <div class="flex gap-XL items-end">
                                <span class="text-Regular text-textSecondary">31 December 2023</span>
                                <span class="text-Regular text-textSecondary">5 min read</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid md:grid-cols-3 gap-XL">
            <div class="bg-backgroundTertiary border border-borderSecondary px-M rounded-S">
                <span class="text-H5 text-textPrimary border-b border-borderSecondary flex w-full py-M max-h-[54px]">On this page</span>
                <ul class="list-unstyled gap-S">
                    <li class="activeSectionOfArticle">
                        <span class="text-Medium text-textSecondary flex h-[53px] py-SM px-XL items-center">Section 1</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textTertiary flex h-[53px] py-SM px-M items-center">Section 2</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textTertiary flex h-[53px] py-SM px-M items-center">Section 3</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textTertiary flex h-[53px] py-SM px-M items-center">Section 4</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textTertiary flex h-[53px] py-SM px-M items-center">Section 5</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textTertiary flex h-[53px] py-SM px-M items-center">Section 6</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textTertiary flex h-[53px] py-SM px-M items-center">Section 7</span>
                    </li>
                    <li>
                        <span class="text-Medium text-textTertiary flex h-[53px] py-SM px-M items-center">Section 8</span>
                    </li>
                </ul>
            </div>
            <div class="md:col-span-2 grid gap-XL">
                <p class="text-Medium text-textSecondary">
                    Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.
                    Nibh vitae mi tristique elit cum. Ultricies tincidunt mi senectus morbi donec amet nunc sed. Feugiat et consectetur aenean lacinia ac rhoncus. Et dui volutpat ullamcorper enim. Porttitor sodales in et condimentum. Tristique fringilla donec massa enim posuere. Volutpat feugiat feugiat nisl eu in lectus. Cras scelerisque nisi quis ante eget ut luctus facilisis euismod. Vel in mauris tellus arcu nunc. Leo platea gravida accumsan lorem scelerisque. Mattis et neque tincidunt nunc et condimentum lacus in eget. Ullamcorper fames interdum turpis quis. Consectetur mattis mus sed mattis mauris. Scelerisque a bibendum volutpat amet magnis. Egestas gravida sed integer porttitor feugiat.
                    Blandit morbi et velit mauris ac sapien tristique ac cum. Ultrices mattis viverra vitae fermentum diam ullamcorper ornare. Tincidunt pellentesque convallis in vel. Feugiat quisque mi duis bibendum. Hendrerit tempor quisque quam enim tristique interdum dui feugiat. Sit sit mattis sit eget pulvinar augue. Fames erat porta arcu gravida nisl. Neque curabitur curabitur nullam at sit. Hendrerit rhoncus diam aliquet erat. Ornare ultrices id et et aliquet. Risus maecenas gravida suspendisse nec rhoncus consequat.
                    Elementum elementum pharetra sit enim consectetur. Elementum tortor penatibus consequat sed a mi lectus. Gravida neque ullamcorper laoreet eget molestie imperdiet pharetra. Sed ante nisi et pretium elementum tortor. Non pellentesque ante id quam sed duis in libero sagittis. Sollicitudin sit sed diam mauris. Blandit a commodo vel turpis ultrices leo nibh diam. Risus enim eget quis diam gravida et rutrum tristique. Condimentum sit vitae cras purus. Elit feugiat malesuada aliquam dignissim ut. Vehicula nunc id nibh massa egestas sed sit. Ut ut et est sed.
                    Enim urna eget sagittis nisl nullam magnis hac. Nunc lacus nulla eget egestas auctor nisl et consequat ipsum. Non cursus imperdiet aliquet nisi amet enim. Lacus massa sit convallis purus nulla tristique. Nec odio sed condimentum quam in gravida ac. Nisl vitae sit pulvinar mollis faucibus interdum dui at pellentesque. Leo sapien nibh leo sagittis cras nam felis ornare. Habitant eget ornare turpis.
                </p>

                <img src="./img/slider-img.png" class="border border-borderSecondary rounded-L">

                <p class="text-Medium text-textSecondary">
                    Lorem ipsum dolor sit amet consectetur. Magna cras eu mi tincidunt eget quis vestibulum. Urna ultrices aenean elementum consequat vestibulum. In quam ultricies lacus rutrum id integer nisl. Est mi nunc urna morbi. Quis semper ultricies eget egestas dignissim non. Morbi accumsan est augue tempor tortor accumsan etiam mattis. Arcu consectetur rutrum mi volutpat.
                    Nibh vitae mi tristique elit cum. Ultricies tincidunt mi senectus morbi donec amet nunc sed. Feugiat et consectetur aenean lacinia ac rhoncus. Et dui volutpat ullamcorper enim. Porttitor sodales in et condimentum. Tristique fringilla donec massa enim posuere. Volutpat feugiat feugiat nisl eu in lectus. Cras scelerisque nisi quis ante eget ut luctus facilisis euismod. Vel in mauris tellus arcu nunc. Leo platea gravida accumsan lorem scelerisque. Mattis et neque tincidunt nunc et condimentum lacus in eget. Ullamcorper fames interdum turpis quis. Consectetur mattis mus sed mattis mauris. Scelerisque a bibendum volutpat amet magnis. Egestas gravida sed integer porttitor feugiat.
                    Blandit morbi et velit mauris ac sapien tristique ac cum. Ultrices mattis viverra vitae fermentum diam ullamcorper ornare. Tincidunt pellentesque convallis in vel. Feugiat quisque mi duis bibendum. Hendrerit tempor quisque quam enim tristique interdum dui feugiat. Sit sit mattis sit eget pulvinar augue. Fames erat porta arcu gravida nisl. Neque curabitur curabitur nullam at sit. Hendrerit rhoncus diam aliquet erat. Ornare ultrices id et et aliquet. Risus maecenas gravida suspendisse nec rhoncus consequat.
                    Elementum elementum pharetra sit enim consectetur. Elementum tortor penatibus consequat sed a mi lectus. Gravida neque ullamcorper laoreet eget molestie imperdiet pharetra. Sed ante nisi et pretium elementum tortor. Non pellentesque ante id quam sed duis in libero sagittis. Sollicitudin sit sed diam mauris. Blandit a commodo vel turpis ultrices leo nibh diam. Risus enim eget quis diam gravida et rutrum tristique. Condimentum sit vitae cras purus. Elit feugiat malesuada aliquam dignissim ut. Vehicula nunc id nibh massa egestas sed sit. Ut ut et est sed.
                    Enim urna eget sagittis nisl nullam magnis hac. Nunc lacus nulla eget egestas auctor nisl et consequat ipsum. Non cursus imperdiet aliquet nisi amet enim. Lacus massa sit convallis purus nulla tristique. Nec odio sed condimentum quam in gravida ac. Nisl vitae sit pulvinar mollis faucibus interdum dui at pellentesque. Leo sapien nibh leo sagittis cras nam felis ornare. Habitant eget ornare turpis.
                </p>

                <div class="grid md:grid-cols-3 gap-XL">
                    <img src="./img/pic10.png" class="border border-borderSecondary rounded-L w-full">
                    <img src="./img/Pic11.png" class="border border-borderSecondary rounded-L w-full">
                    <img src="./img/Pic12.png" class="border border-borderSecondary rounded-L w-full">
                </div>

            </div>
        </div>

    </div>


    <div class="2xl:container bg-backgroundSecondary mx-auto">
        <section class="md:py-XXL py-[64px] grid grid-cols-1 md:gap-XXL gap-XL px-L">

            <div class="flex">
                <span class="text-H3 text-brandPrimary">Related Articles</span>
            </div>

            <div class="mx-auto grid md:gap-XL gap-L md:grid-cols-2 lg:grid-cols-3 grid-cols-1">

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic7 (3).png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow gap-M h-[48px] max-w-[293px]">
                            <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[229px] min-w-[200px]">
                                <span class="text-Medium text-textPrimary">John Smith</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Regular text-textSecondary">31 Dec 2023</span>
                                    <span class="text-Regular text-textSecondary">5 min read</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M items-end">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1 lg:px-M lg:mx-[-16px] lg:border-x md:border-borderSecondary">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic7.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow gap-M h-[48px] max-w-[293px]">
                            <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[229px] min-w-[200px]">
                                <span class="text-Medium text-textPrimary">John Smith</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Regular text-textSecondary">31 Dec 2023</span>
                                    <span class="text-Regular text-textSecondary">5 min read</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M items-end">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic8.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow gap-M h-[48px] max-w-[293px]">
                            <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[229px] min-w-[200px]">
                                <span class="text-Medium text-textPrimary">John Smith</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Regular text-textSecondary">31 Dec 2023</span>
                                    <span class="text-Regular text-textSecondary">5 min read</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M items-end">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic9.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow gap-M h-[48px] max-w-[293px]">
                            <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[229px] min-w-[200px]">
                                <span class="text-Medium text-textPrimary">John Smith</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Regular text-textSecondary">31 Dec 2023</span>
                                    <span class="text-Regular text-textSecondary">5 min read</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M items-end">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1 lg:px-M lg:mx-[-16px] lg:border-x md:border-borderSecondary">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic11.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow gap-M h-[48px] max-w-[293px]">
                            <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[229px] min-w-[200px]">
                                <span class="text-Medium text-textPrimary">John Smith</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Regular text-textSecondary">31 Dec 2023</span>
                                    <span class="text-Regular text-textSecondary">5 min read</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M items-end">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 3</li>
                        </ul>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="flex-shrink-0">
                        <a href="#">
                            <img class="w-full rounded-L border border-borderSecondary object-cover" src="./img/Pic12.png" alt="">
                        </a>
                    </div>
                    <div class="mb:col-span-2 p-M grid grid-cols-1 gap-L">
                        <div class="flex flex-grow gap-M h-[48px] max-w-[293px]">
                            <img src="./img/profile.png" class="h-[48px] w-[48px] rounded-full">
                            <div class="flex flex-col justify-between lg:min-w-[229px] min-w-[200px]">
                                <span class="text-Medium text-textPrimary">John Smith</span>
                                <div class="flex justify-between items-end">
                                    <span class="text-Regular text-textSecondary">31 Dec 2023</span>
                                    <span class="text-Regular text-textSecondary">5 min read</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-H5 text-textPrimary">
                            Lorem ipsum dolor sit amet consectetur. Sit ipsum in aenean sed diam. Et pretium nec elementum enim viverra nunc risus ac facilisis.
                        </p>
                        <a class="" href="about#">
                            <div class="flex items-center gap-S">
                                <span class="text-Medium text-brandPrimary">Read the article</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="relative my-auto h-[16px] w-[16px]" viewBox="0 0 16 17" fill="none">
                                    <path d="M7.99996 3.16663L7.05996 4.10663L10.78 7.83329H2.66663V9.16663H10.78L7.05996 12.8933L7.99996 13.8333L13.3333 8.49996L7.99996 3.16663Z" fill="#F37441" />
                                </svg>
                            </div>
                        </a>
                        <ul class="flex flex-wrap gap-M items-end">
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 1</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 2</li>
                            <li class="border border-borderPrimary text-Medium text-textPrimary px-M py-XS rounded-L h-[27px] w-[77px] text-center items-center flex">Tag 3</li>
                        </ul>
                    </div>
                </div>

            </div>

        </section>
    </div>
}
