<div class="grid grid-cols-1 gap-L place-content-center py-[64px] md:px-[240px] px-L">
    <div class="flex flex-col gap-S">
        <h1 class="mx-auto text-H3 text-center text-textPrimary">Join Our Newsletter</h1>
        <h4 class="mx-auto  text-H5 text-center text-textSecondary">Be among the first ones to receive our latest news and offers</h4>
    </div>
    <div class="mx-auto rounded-M grid md:grid-cols-3 grid-cols-1 gap-M p-M bg-backgroundSecondary max-w-[525px]">
        <div class="md:col-span-2">
            <input type="email" placeholder="Email" class="w-full h-[43px] border-borderPrimary rounded-S bg-transparent px-M py-S placeholder:text-Medium placeholder:text-secondary md:col-span-2">
        </div>
        <button class="bg-brandPrimary h-[43px] text-onBrandPrimary px-L py-SM rounded-L items-center flex justify-center">Subscribe</button>
    </div>
    <h1 class="mx-auto text-textTertiary">You can easily unsubscribe at any time.</h1>
</div>