@tailwind base;
@tailwind components;
@tailwind utilities;

/*!* Inter - regular, bold, link *!*/
/*@layer base {*/
/*    @font-face {*/
/*        font-family: 'Inter';*/
/*    }*/
/*}*/

.quickgrid[theme=unilake] {
}
    .quickgrid[theme=unilake] thead {
        @apply bg-neutral-background-default text-typography-body font-medium text-small leading-normal
    }

    .quickgrid[theme=unilake] thead > tr > th {
        @apply px-5 py-4 text-start
    }

    .quickgrid[theme=unilake] tbody {
        @apply divide-y divide-neutral-background-border-divider text-small text-typography-body
    }

    .quickgrid[theme=unilake] tbody > tr {
        @apply hover:bg-neutral-background-faded
    }

    .quickgrid[theme=unilake] tbody > tr .col-justify-end {
        @apply text-end
    }

    .quickgrid[theme=unilake] tbody > tr .col-justify-center {
        @apply text-center
    }

    .quickgrid[theme=unilake] tbody > tr .col-justify-start {
        @apply text-start
    }

    .quickgrid[theme=unilake] tbody > tr > td {
        @apply px-5 py-4 whitespace-nowrap
    }

    .quickgrid[theme=unilake] tbody > tr > td:empty {
        @apply hidden
    }

    .quickgrid[theme=unilake] .col-title {
        @apply flex gap-2
    }

    .quickgrid[theme=unilake] .sort-indicator {
        @apply w-3 h-3 self-center text-center
    }

    /*todo: fix dark mode*/
    :is(.dark .quickgrid[theme=unilake] tbody tr) {
        @apply hover:bg-black
    }

    .quickgrid[theme=unilake] .sort-indicator {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.90237 4.3862C8.77219 4.52243 8.56114 4.52243 8.43096 4.3862L6 1.84217L3.56904 4.3862C3.43886 4.52243 3.22781 4.52243 3.09763 4.3862C2.96746 4.24997 2.96746 4.0291 3.09763 3.89287L5.7643 1.10217C5.89447 0.965943 6.10553 0.965943 6.2357 1.10217L8.90237 3.89287C9.03254 4.0291 9.03254 4.24997 8.90237 4.3862ZM8.90237 7.6138C9.03254 7.75003 9.03254 7.9709 8.90237 8.10713L6.2357 10.8978C6.10553 11.0341 5.89447 11.0341 5.7643 10.8978L3.09763 8.10713C2.96746 7.9709 2.96746 7.75003 3.09763 7.6138C3.22781 7.47757 3.43886 7.47757 3.56904 7.6138L6 10.1578L8.43096 7.6138C8.56114 7.47757 8.77219 7.47757 8.90237 7.6138Z" fill="%23525D61"/></svg>');
    }

    .quickgrid[theme=unilake] .col-sort-desc .sort-indicator {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.90237 4.3862C8.77219 4.52243 8.56114 4.52243 8.43096 4.3862L6 1.84217L3.56904 4.3862C3.43886 4.52243 3.22781 4.52243 3.09763 4.3862C2.96746 4.24997 2.96746 4.0291 3.09763 3.89287L5.7643 1.10217C5.89447 0.965943 6.10553 0.965943 6.2357 1.10217L8.90237 3.89287C9.03254 4.0291 9.03254 4.24997 8.90237 4.3862ZM8.90237 7.6138C9.03254 7.75003 9.03254 7.9709 8.90237 8.10713L6.2357 10.8978C6.10553 11.0341 5.89447 11.0341 5.7643 10.8978L3.09763 8.10713C2.96746 7.9709 2.96746 7.75003 3.09763 7.6138C3.22781 7.47757 3.43886 7.47757 3.56904 7.6138L6 10.1578L8.43096 7.6138C8.56114 7.47757 8.77219 7.47757 8.90237 7.6138Z" fill="%23252532"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.09763 7.60251C3.22781 7.46583 3.43886 7.46583 3.56904 7.60251L6 10.155L8.43096 7.60251C8.56114 7.46583 8.77219 7.46583 8.90237 7.60251C9.03254 7.7392 9.03254 7.9608 8.90237 8.09749L6.2357 10.8975C6.10553 11.0342 5.89447 11.0342 5.7643 10.8975L3.09763 8.09749C2.96746 7.9608 2.96746 7.7392 3.09763 7.60251Z" fill="%23FF6849"/></svg>') !important;
    }

    .quickgrid[theme=unilake] .col-sort-asc .sort-indicator {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.90237 4.3862C8.77219 4.52243 8.56114 4.52243 8.43096 4.3862L6 1.84217L3.56904 4.3862C3.43886 4.52243 3.22781 4.52243 3.09763 4.3862C2.96746 4.24997 2.96746 4.0291 3.09763 3.89287L5.7643 1.10217C5.89447 0.965943 6.10553 0.965943 6.2357 1.10217L8.90237 3.89287C9.03254 4.0291 9.03254 4.24997 8.90237 4.3862ZM8.90237 7.6138C9.03254 7.75003 9.03254 7.9709 8.90237 8.10713L6.2357 10.8978C6.10553 11.0341 5.89447 11.0341 5.7643 10.8978L3.09763 8.10713C2.96746 7.9709 2.96746 7.75003 3.09763 7.6138C3.22781 7.47757 3.43886 7.47757 3.56904 7.6138L6 10.1578L8.43096 7.6138C8.56114 7.47757 8.77219 7.47757 8.90237 7.6138Z" fill="%23252532"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.90237 4.39749C8.77219 4.53417 8.56114 4.53417 8.43096 4.39749L6 1.84497L3.56904 4.39749C3.43886 4.53417 3.22781 4.53417 3.09763 4.39749C2.96746 4.2608 2.96746 4.0392 3.09763 3.90251L5.7643 1.10251C5.89447 0.965829 6.10553 0.965829 6.2357 1.10251L8.90237 3.90251C9.03254 4.0392 9.03254 4.2608 8.90237 4.39749Z" fill="%23FF6849"/></svg>') !important;
    }