@page "/support"
@attribute [RenderStatic]
@inject MarkdownBlog Blog
@{
    ViewData["Title"] = "Unilake.Www Support";
}

<div class="2xl:container px-L sm:py-XXL md:py-[80px] py-[64px] mx-auto grid grid-cols-1 md:gap-[64px] gap-XL font-inter">
    @{

            <div class="flex flex-col">
                <span class="text-H3 text-brandPrimary">Support</span>
            </div>

            <div class="grid md:grid-cols-2 grid-cols-1 gap-L">

                <div class="md:col-span-2 rounded-L p-L bg-[#0E0E0E] border border-borderSecondary grid gap-L">
                    <div class="grid gap-L">

                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 4C0.5 2.067 2.067 0.5 4 0.5H44C45.933 0.5 47.5 2.067 47.5 4V44C47.5 45.933 45.933 47.5 44 47.5H4C2.067 47.5 0.5 45.933 0.5 44V4Z" stroke="#383838" />
                            <path d="M35.718 32.9899L36.6074 36.0012C36.6296 36.0774 36.6303 36.158 36.6092 36.2344C36.5882 36.3108 36.5464 36.38 36.4884 36.434C36.4304 36.4882 36.3586 36.525 36.2808 36.5407C36.203 36.5564 36.1224 36.5502 36.048 36.5228L33.4138 35.5431C33.2403 35.4768 33.0543 35.4498 32.8691 35.4639C32.6839 35.478 32.5042 35.5328 32.3427 35.6247C30.9826 36.4244 29.4336 36.8479 27.8554 36.8514C26.4948 36.7859 25.1558 36.4862 23.8972 35.9655H23.8935C21.009 34.3119 18.9953 31.5955 18.8655 28.2138C18.8088 26.8346 19.0709 25.461 19.6315 24.1992C20.192 22.9376 21.036 21.8219 22.098 20.9387C23.16 20.0556 24.4114 19.4287 25.7551 19.1066C27.0987 18.7846 28.4987 18.7761 29.8462 19.0818C31.1936 19.3875 32.4526 19.9992 33.5252 20.8695C34.5978 21.7396 35.4554 22.8451 36.0312 24.0998C36.6071 25.3546 36.8859 26.725 36.8459 28.1047C36.8059 29.4846 36.4483 30.8366 35.8007 32.0559C35.6523 32.3447 35.6226 32.6795 35.718 32.9899Z" fill="#F37441" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.7395 19.5518C28.4642 19.2624 27.1391 19.2705 25.8674 19.5753C24.5956 19.8801 23.4112 20.4734 22.4062 21.3092C21.4011 22.1451 20.6024 23.201 20.0719 24.395C19.5414 25.5888 19.2933 26.8888 19.347 28.194C19.4686 31.3623 21.3446 33.9358 24.0971 35.5267C25.2962 36.0206 26.571 36.3056 27.8664 36.3694C29.355 36.364 30.8155 35.9636 32.0984 35.2092L32.1046 35.2056C32.3278 35.0787 32.5764 35.0028 32.8324 34.9834C33.0878 34.9639 33.3442 35.001 33.5835 35.092L36.1143 36.0332L35.2564 33.1287C35.1252 32.6988 35.1667 32.2352 35.3722 31.8356L35.3751 31.8299C35.9879 30.6759 36.3263 29.3964 36.3642 28.0908C36.402 26.7851 36.1382 25.4883 35.5932 24.3008C35.0482 23.1134 34.2367 22.0672 33.2215 21.2436C32.2064 20.4201 31.015 19.8411 29.7395 19.5518ZM25.6427 18.638C27.0583 18.2987 28.5331 18.2897 29.9528 18.6118C31.3724 18.9339 32.6987 19.5783 33.8288 20.4952C34.959 21.412 35.8624 22.5767 36.4692 23.8988C37.076 25.2208 37.3698 26.6648 37.3276 28.1187C37.2855 29.5714 36.9094 30.9947 36.2282 32.2787C36.1383 32.4551 36.1206 32.6591 36.1787 32.8483L36.1802 32.8534L37.07 35.8662C37.1172 36.028 37.1186 36.1998 37.0739 36.3623C37.0292 36.5247 36.9403 36.6716 36.8171 36.7866C36.6938 36.9015 36.5411 36.9799 36.376 37.0131C36.2108 37.0464 36.0398 37.0332 35.8816 36.9751L35.88 36.9744L33.2458 35.9948L33.2418 35.9932C33.1347 35.9524 33.0199 35.9358 32.9056 35.9444C32.7924 35.9531 32.6824 35.9864 32.5835 36.0422C31.1504 36.884 29.519 37.3296 27.8564 37.3332L27.8443 37.3334L27.8322 37.3327C26.4484 37.2662 25.0862 36.9667 23.8024 36.4475H23.7652L23.6539 36.3836C20.6572 34.6658 18.5216 31.8139 18.3839 28.233C18.3243 26.7799 18.6004 25.3327 19.191 24.0036C19.7817 22.6742 20.671 21.4987 21.7899 20.5682C22.9087 19.6377 24.2271 18.9772 25.6427 18.638Z" fill="#6F6E73" />
                            <path d="M15.6292 32.5579C15.8074 32.4887 15.9991 32.461 16.1897 32.4768C16.3803 32.4926 16.5649 32.5515 16.7293 32.6491C18.4687 33.7043 20.4656 34.2599 22.5005 34.2551C25.5394 34.2266 28.4426 32.9934 30.5713 30.8267C32.7001 28.66 33.8801 25.7375 33.8517 22.7018C33.8801 19.6661 32.7001 16.7435 30.5713 14.5769C28.4426 12.4103 25.5394 11.1771 22.5005 11.1486C19.4615 11.177 16.5583 12.4101 14.4295 14.5768C12.3007 16.7434 11.1206 19.6661 11.1489 22.7018C11.1442 24.6267 11.616 26.523 12.5224 28.2218C12.6794 28.5246 12.7123 28.8764 12.6141 29.203L11.3876 33.4322C11.3656 33.5084 11.3653 33.5894 11.3867 33.6659C11.4081 33.7424 11.4504 33.8114 11.5088 33.8652C11.5672 33.9191 11.6395 33.9556 11.7176 33.9708C11.7956 33.986 11.8763 33.9791 11.9507 33.9511L15.6292 32.5579Z" fill="#070D0F" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.505 10.6666C25.6716 10.6963 28.6968 11.9813 30.915 14.2391C33.1324 16.4959 34.362 19.5398 34.3337 22.7017C34.362 25.8639 33.1324 28.9077 30.915 31.1644C28.6968 33.4223 25.6716 34.7072 22.505 34.7369H22.5017C20.3791 34.742 18.2961 34.1627 16.4815 33.0625C16.3804 33.0028 16.267 32.9667 16.1499 32.9571C16.0321 32.9472 15.9137 32.9644 15.8035 33.0071L15.7998 33.0085L12.1214 34.4017C11.9634 34.4613 11.7914 34.476 11.6257 34.4439C11.46 34.4117 11.3064 34.3341 11.1822 34.2196C11.058 34.1052 10.9681 33.9584 10.9226 33.7957C10.8771 33.6331 10.8777 33.4609 10.9245 33.2985L12.1513 29.0687L12.1526 29.0643C12.2144 28.8585 12.194 28.6368 12.0957 28.4457C11.1533 26.6784 10.6625 24.7059 10.667 22.7035C10.6383 19.5407 11.868 16.4961 14.0857 14.239C16.3041 11.9812 19.3294 10.6962 22.496 10.6666H22.505ZM22.5005 11.6305C19.5908 11.6589 16.8114 12.8401 14.7732 14.9145C12.734 16.99 11.6037 19.7895 11.6308 22.6973L11.6309 22.7029C11.6263 24.5484 12.0787 26.3663 12.9476 27.9949L12.9503 27.9999C13.1645 28.4131 13.2097 28.8933 13.0764 29.3392L13.0757 29.3416L11.8807 33.4623L15.4548 32.1085L15.4569 32.1077C15.7027 32.0127 15.9669 31.9747 16.2296 31.9964C16.493 32.0183 16.748 32.0997 16.9753 32.2347L16.9792 32.2371C18.6424 33.246 20.5518 33.7775 22.4977 33.7731C25.4084 33.7453 28.1888 32.564 30.2276 30.4889C32.2668 28.4135 33.3969 25.614 33.3698 22.7063L33.3697 22.6973C33.3969 19.7896 32.2668 16.9901 30.2276 14.9147C28.1894 12.8403 25.4101 11.659 22.5005 11.6305Z" fill="#6F6E73" />
                            <path d="M23.9868 35.9648L23.9955 35.9563L24.004 35.9648H23.9868Z" fill="#F37441" />
                            <path d="M24.004 34.2539H23.9868L23.9955 34.2454L24.004 34.2539Z" fill="#F37441" />
                            <path d="M23.5758 35.9648H23.5586L23.5673 35.9563L23.5758 35.9648Z" fill="#F37441" />
                            <path d="M23.5708 25.2685H21.4292V23.6752C21.4336 23.2804 21.5811 22.9005 21.8444 22.606C22.1076 22.3115 22.469 22.1223 22.8612 22.0735C23.0994 22.056 23.3312 21.9889 23.5419 21.8763C23.7524 21.7637 23.9371 21.6083 24.0836 21.42C24.2303 21.2317 24.3358 21.0148 24.3932 20.7832C24.4506 20.5516 24.4587 20.3105 24.417 20.0756C24.3626 19.66 24.1716 19.2741 23.8742 18.9783C23.5767 18.6825 23.1896 18.4936 22.7732 18.441C22.4919 18.4006 22.2052 18.4214 21.9327 18.502C21.6603 18.5827 21.4084 18.7212 21.1947 18.9082C20.8327 19.2184 20.6088 19.6595 20.5722 20.1345H18.4306C18.4223 19.5859 18.5396 19.0426 18.7735 18.5462C19.0074 18.0497 19.3517 17.6132 19.7802 17.2698C20.2248 16.8864 20.7462 16.6019 21.3094 16.4352C21.8726 16.2685 22.465 16.2235 23.047 16.3032C23.9463 16.4184 24.7807 16.8325 25.4159 17.4789C26.0511 18.1253 26.4502 18.9663 26.549 19.8667C26.7459 21.936 25.7126 23.6641 23.5704 24.1181L23.5708 25.2685Z" fill="#C6D6DC" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.9816 16.7806C22.4672 16.7103 21.9439 16.75 21.4462 16.8973C20.9484 17.0446 20.4878 17.296 20.0949 17.6348L20.0817 17.6462C19.7105 17.9436 19.4121 18.3215 19.2095 18.7515C19.0748 19.0375 18.9847 19.3413 18.9416 19.6526H20.1709C20.2919 19.2245 20.5367 18.8379 20.8792 18.5438C21.145 18.3119 21.4576 18.14 21.796 18.0399C22.1338 17.94 22.489 17.9139 22.8376 17.9634C23.358 18.03 23.842 18.2666 24.214 18.6366C24.5844 19.0049 24.8232 19.4848 24.8934 20.0022C24.9448 20.3002 24.9338 20.6056 24.861 20.8992C24.7872 21.1963 24.652 21.4745 24.4639 21.7161C24.2758 21.9576 24.0391 22.1571 23.7691 22.3013C23.5032 22.4435 23.2108 22.5291 22.9103 22.5531C22.6376 22.5895 22.387 22.7221 22.2036 22.9272C22.0186 23.1341 21.9148 23.4009 21.9111 23.6781V24.7865H23.0888L23.0886 24.1184C23.0884 23.8907 23.2478 23.694 23.4706 23.6467C24.4296 23.4435 25.1108 22.9643 25.5367 22.3296C25.9652 21.6908 26.1586 20.8584 26.0695 19.9158C25.982 19.1243 25.6308 18.3851 25.0722 17.8167C24.5128 17.2475 23.7779 16.8827 22.9856 16.7812L22.9816 16.7806ZM23.1102 15.8254C22.4612 15.7369 21.8007 15.7872 21.1726 15.9731C20.5466 16.1583 19.967 16.474 19.472 16.8992C18.9894 17.2876 18.6015 17.7805 18.3375 18.3408C18.0723 18.9037 17.9394 19.5197 17.9487 20.1417C17.9527 20.4051 18.1672 20.6164 18.4306 20.6164H20.5722C20.824 20.6164 21.0335 20.4225 21.0527 20.1714C21.0795 19.824 21.2432 19.5012 21.5082 19.2741L21.5119 19.271C21.6734 19.1298 21.8636 19.0251 22.0695 18.9641C22.2754 18.9032 22.492 18.8875 22.7046 18.9181L22.7128 18.9192C23.0236 18.9584 23.3126 19.0994 23.5344 19.32C23.7562 19.5406 23.8986 19.8284 23.9392 20.1383C23.9402 20.1455 23.9412 20.1527 23.9426 20.1599C23.9724 20.3283 23.9666 20.5011 23.9254 20.6672C23.8843 20.8332 23.8087 20.9888 23.7035 21.1239C23.5983 21.2589 23.4658 21.3705 23.3147 21.4513C23.1635 21.5321 22.9971 21.5803 22.8262 21.5928C22.8179 21.5933 22.8098 21.5941 22.8016 21.5952C22.2939 21.6584 21.826 21.9033 21.4851 22.2848C21.144 22.6663 20.953 23.1584 20.9474 23.67L20.9472 25.2685C20.9472 25.5347 21.1631 25.7504 21.4292 25.7504H23.5708C23.6987 25.7504 23.8214 25.6996 23.9116 25.6092C24.002 25.5188 24.0528 25.3963 24.0528 25.2684L24.0526 24.4933C25.0498 24.2005 25.8236 23.6319 26.3371 22.8667C26.911 22.0113 27.1358 20.9463 27.0287 19.821L27.028 19.8141C26.9175 18.8061 26.4707 17.8646 25.7596 17.1411C25.0491 16.4181 24.116 15.9547 23.1102 15.8254Z" fill="#6F6E73" />
                            <path d="M23.4524 26.4219H21.5879V28.6569H23.4524V26.4219Z" fill="#C6D6DC" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.106 26.4219C21.106 26.1558 21.3217 25.9399 21.588 25.9399H23.4525C23.7186 25.9399 23.9344 26.1558 23.9344 26.4219V28.657C23.9344 28.9231 23.7186 29.139 23.4525 29.139H21.588C21.3217 29.139 21.106 28.9231 21.106 28.657V26.4219ZM22.0698 26.9038V28.1751H22.9705V26.9038H22.0698Z" fill="#6F6E73" />
                        </svg>

                        <div class="gap-M flex flex-col">
                            <span class="font-H5 text-textPrimary">Issues</span>
                            <span class="font-Medium text-textSecondary">Found a bug? We’d love to hear about it in our GitHub issues.</span>
                        </div>
                    </div>
                    <button class="bg-transparent border border-borderPrimary px-L py-SM rounded-L flex gap-S items-center max-w-[217px] max-h-[43px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                            <path d="M6 0.5C5.21207 0.5 4.43185 0.659048 3.7039 0.968062C2.97595 1.27708 2.31451 1.73001 1.75736 2.30099C0.632141 3.45414 0 5.01816 0 6.64896C0 9.3668 1.722 11.6727 4.104 12.4905C4.404 12.5397 4.5 12.349 4.5 12.183V11.1439C2.838 11.5128 2.484 10.3199 2.484 10.3199C2.208 9.60661 1.818 9.41599 1.818 9.41599C1.272 9.03476 1.86 9.04706 1.86 9.04706C2.46 9.0901 2.778 9.6804 2.778 9.6804C3.3 10.615 4.182 10.3383 4.524 10.1908C4.578 9.79108 4.734 9.52053 4.902 9.3668C3.57 9.21308 2.172 8.68427 2.172 6.34151C2.172 5.65898 2.4 5.11172 2.79 4.67515C2.73 4.52142 2.52 3.88193 2.85 3.05182C2.85 3.05182 3.354 2.8858 4.5 3.67901C4.974 3.54374 5.49 3.4761 6 3.4761C6.51 3.4761 7.026 3.54374 7.5 3.67901C8.646 2.8858 9.15 3.05182 9.15 3.05182C9.48 3.88193 9.27 4.52142 9.21 4.67515C9.6 5.11172 9.828 5.65898 9.828 6.34151C9.828 8.69042 8.424 9.20693 7.086 9.36065C7.302 9.55127 7.5 9.92636 7.5 10.4982V12.183C7.5 12.349 7.596 12.5458 7.902 12.4905C10.284 11.6665 12 9.3668 12 6.64896C12 5.84147 11.8448 5.04188 11.5433 4.29586C11.2417 3.54983 10.7998 2.87197 10.2426 2.30099C9.68549 1.73001 9.02405 1.27708 8.2961 0.968062C7.56815 0.659048 6.78793 0.5 6 0.5Z" fill="#E6EFF4" />
                        </svg>
                        <span class="text-textPrimary text-Medium">
                            Open GitHub Issue
                        </span>
                    </button>
                </div>

                <div class="rounded-L p-L bg-[#0E0E0E] border border-borderSecondary grid gap-L">
                    <div class="grid gap-L">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 4C0.5 2.067 2.067 0.5 4 0.5H44C45.933 0.5 47.5 2.067 47.5 4V44C47.5 45.933 45.933 47.5 44 47.5H4C2.067 47.5 0.5 45.933 0.5 44V4Z" stroke="#383838" />
                            <path d="M15.2924 31.7677H16.1308V33.5035V33.7535H16.3808H18.4216H18.6716V33.5035V31.7677H19.124V33.5035V33.7535H19.374H21.4148H21.6648V33.5035V31.7677H25.0759C25.6145 33.4054 27.1232 34.6046 28.8978 34.6046C31.2281 34.6046 32.9573 32.6328 32.9573 30.383C32.9573 28.1271 31.0864 26.1613 28.8978 26.1613C27.0723 26.1613 25.5282 27.4302 25.032 29.1401H15.2924H15.0424V29.3901V31.5177V31.7677H15.2924ZM19.7378 24.7404L19.8116 24.8174H19.9182H23.9998H28.0815H28.1881L28.2619 24.7404L30.2289 22.6897H36.9471V37.0833H10.9165V22.5479H17.6347L19.7378 24.7404ZM28.8978 32.1188C27.9572 32.1188 27.243 31.3896 27.243 30.383C27.243 29.3764 27.9572 28.6471 28.8978 28.6471C29.8384 28.6471 30.5526 29.3764 30.5526 30.383C30.5526 31.3896 29.8384 32.1188 28.8978 32.1188Z" fill="#F37441" stroke="#6F6E73" stroke-width="0.5" />
                            <path d="M18.8858 21.1451L18.8109 21.0549H18.6936H13.0933V17.2996H22.6613V23.1825H20.5796L18.8858 21.1451Z" fill="#C6D6DC" stroke="#6F6E73" stroke-width="0.5" />
                            <path d="M27.3003 23.1826H24.2497V16.0567V15.8067H23.9997H16.0864V14.0372H28.9198V21.6241L27.3003 23.1826Z" fill="#C6D6DC" stroke="#6F6E73" stroke-width="0.5" />
                            <path d="M30.1225 12.5443H21.2568V10.9166H34.9065V21.0549H30.3725V12.7943V12.5443H30.1225Z" fill="#C6D6DC" stroke="#6F6E73" stroke-width="0.5" />
                        </svg>

                        <div class="gap-M flex flex-col">
                            <span class="font-H5 text-textPrimary">Feature Requests</span>
                        <span class="font-Medium text-textSecondary flex md:h-[50px]">Want to suggest a new feature? Share it with us and the community.</span>
                        </div>
                    </div>
                    <button class="bg-transparent border border-borderPrimary px-L py-SM rounded-L max-w-[217px] max-h-[43px] flex gap-S items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                            <path d="M6 0.5C5.21207 0.5 4.43185 0.659048 3.7039 0.968062C2.97595 1.27708 2.31451 1.73001 1.75736 2.30099C0.632141 3.45414 0 5.01816 0 6.64896C0 9.3668 1.722 11.6727 4.104 12.4905C4.404 12.5397 4.5 12.349 4.5 12.183V11.1439C2.838 11.5128 2.484 10.3199 2.484 10.3199C2.208 9.60661 1.818 9.41599 1.818 9.41599C1.272 9.03476 1.86 9.04706 1.86 9.04706C2.46 9.0901 2.778 9.6804 2.778 9.6804C3.3 10.615 4.182 10.3383 4.524 10.1908C4.578 9.79108 4.734 9.52053 4.902 9.3668C3.57 9.21308 2.172 8.68427 2.172 6.34151C2.172 5.65898 2.4 5.11172 2.79 4.67515C2.73 4.52142 2.52 3.88193 2.85 3.05182C2.85 3.05182 3.354 2.8858 4.5 3.67901C4.974 3.54374 5.49 3.4761 6 3.4761C6.51 3.4761 7.026 3.54374 7.5 3.67901C8.646 2.8858 9.15 3.05182 9.15 3.05182C9.48 3.88193 9.27 4.52142 9.21 4.67515C9.6 5.11172 9.828 5.65898 9.828 6.34151C9.828 8.69042 8.424 9.20693 7.086 9.36065C7.302 9.55127 7.5 9.92636 7.5 10.4982V12.183C7.5 12.349 7.596 12.5458 7.902 12.4905C10.284 11.6665 12 9.3668 12 6.64896C12 5.84147 11.8448 5.04188 11.5433 4.29586C11.2417 3.54983 10.7998 2.87197 10.2426 2.30099C9.68549 1.73001 9.02405 1.27708 8.2961 0.968062C7.56815 0.659048 6.78793 0.5 6 0.5Z" fill="#E6EFF4" />
                        </svg>
                        <span class="text-textPrimary text-Medium">
                            Request Feature
                        </span>
                    </button>
                </div>

                <div class="rounded-L p-L bg-[#0E0E0E] border border-borderSecondary grid gap-L">
                    <div class="grid gap-L">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 4C0.5 2.067 2.067 0.5 4 0.5H44C45.933 0.5 47.5 2.067 47.5 4V44C47.5 45.933 45.933 47.5 44 47.5H4C2.067 47.5 0.5 45.933 0.5 44V4Z" stroke="#383838" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.7831 21.3931C31.5567 21.3931 32.9832 19.9666 32.9832 18.209C32.9832 16.4514 31.5567 15.0249 29.7831 15.0249C28.0096 15.0249 26.5703 16.4514 26.5703 18.209C26.5703 19.9666 28.0096 21.3931 29.7831 21.3931ZM29.7831 25.2736C27.4314 25.2736 22.7148 26.4454 22.7148 28.7762V35.5224H36.8515V28.7762C36.8515 26.4454 32.135 25.2736 29.7831 25.2736Z" fill="#F37441" />
                            <path d="M20.1444 24C17.15 24 11.1484 25.4901 11.1484 28.4577V35.5224H20.1444V28.7761C20.1444 27.6935 20.5685 25.7959 23.1902 24.3567C22.0721 24.1273 20.9926 24 20.1444 24Z" fill="#070D0F" />
                            <path d="M20.1445 20.1195C22.2778 20.1195 23.9871 18.4128 23.9871 16.2986C23.9871 14.1843 22.2778 12.4777 20.1445 12.4777C18.0111 12.4777 16.2891 14.1843 16.2891 16.2986C16.2891 18.4128 18.0111 20.1195 20.1445 20.1195Z" fill="#070D0F" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8073 16.2985C15.8073 13.9205 17.7452 12 20.1447 12C22.5462 12 24.4691 13.9226 24.4691 16.2985C24.4691 18.6744 22.5462 20.5971 20.1447 20.5971C17.7452 20.5971 15.8073 18.6765 15.8073 16.2985ZM20.1447 12.9552C18.2775 12.9552 16.7712 14.4481 16.7712 16.2985C16.7712 18.149 18.2775 19.6418 20.1447 19.6418C22.0097 19.6418 23.5053 18.151 23.5053 16.2985C23.5053 14.446 22.0097 12.9552 20.1447 12.9552ZM26.0885 18.209C26.0885 16.1876 27.7435 14.5473 29.7831 14.5473C31.8254 14.5473 33.4651 16.1901 33.4651 18.209C33.4651 20.2279 31.8254 21.8707 29.7831 21.8707C27.7435 21.8707 26.0885 20.2304 26.0885 18.209ZM29.7831 15.5025C28.2759 15.5025 27.0523 16.7151 27.0523 18.209C27.0523 19.7028 28.2759 20.9155 29.7831 20.9155C31.2881 20.9155 32.5013 19.7053 32.5013 18.209C32.5013 16.7126 31.2881 15.5025 29.7831 15.5025ZM14.3447 24.6725C16.2774 23.9061 18.5873 23.5224 20.1447 23.5224C21.0351 23.5224 22.1486 23.6553 23.2881 23.8889L24.5614 24.15L23.4239 24.7744C20.9771 26.1176 20.6266 27.8413 20.6266 28.7761V36H10.6667V28.4577C10.6667 27.5403 11.1344 26.7724 11.8065 26.1581C12.4753 25.5469 13.378 25.056 14.3447 24.6725ZM12.4599 26.8604C11.9131 27.3601 11.6306 27.8913 11.6306 28.4577V35.0448H19.6627V28.7761C19.6627 27.7195 20.0297 26.0425 21.9042 24.6177C21.2541 24.5259 20.6519 24.4776 20.1447 24.4776C18.7077 24.4776 16.5195 24.8389 14.7028 25.5595C13.7949 25.9195 13.01 26.3576 12.4599 26.8604ZM25.1881 25.7075C26.7191 25.1001 28.547 24.796 29.7831 24.796C31.0194 24.796 32.8473 25.1001 34.3783 25.7075C35.1442 26.0112 35.8662 26.4027 36.4045 26.8944C36.9459 27.3892 37.3334 28.0179 37.3334 28.7761V36H29.7832H22.233V28.7761C22.233 28.0179 22.6205 27.3892 23.1619 26.8944C23.7002 26.4027 24.4222 26.0112 25.1881 25.7075ZM23.8153 27.5967C23.399 27.9772 23.1969 28.3691 23.1969 28.7761V35.0448H36.3695V28.7761C36.3695 28.3691 36.1674 27.9772 35.7511 27.5967C35.3315 27.2133 34.7274 26.8748 34.0202 26.5943C32.605 26.0329 30.8989 25.7512 29.7831 25.7512C28.6675 25.7512 26.9614 26.0329 25.5462 26.5943C24.839 26.8748 24.2349 27.2133 23.8153 27.5967Z" fill="#6F6E73" />
                        </svg>

                        <div class="gap-M flex flex-col">
                            <span class="font-H5 text-textPrimary">Community</span>
                        <span class="font-Medium text-textSecondary flex md:h-[50px]">Join our GitHub discussions or our Zulip server to browse for help and best practices.</span>
                        </div>
                    </div>
                    <div class="grid md:grid-cols-2 gap-M">
                        <button class="bg-brandSecondary px-L py-SM rounded-L flex gap-S items-center justify-center md:max-w-[322px] w-full max-h-[43px]">
                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Group">
                                    <path id="Vector" d="M5.32479 5.60357L1.34561 9.15675C0.935705 9.47929 0.666748 10.0117 0.666748 10.6105C0.666748 11.5884 1.38414 12.3887 2.26095 12.3887H9.73921C10.616 12.3887 11.3334 11.5884 11.3334 10.6105C11.3334 9.63237 10.616 8.83237 9.73921 8.83237H4.07793C3.99399 8.83237 3.94094 8.73181 3.98185 8.64998L5.44145 5.72762C5.49477 5.64237 5.39869 5.54023 5.32479 5.60357ZM9.73921 0.5H2.26095C1.38414 0.5 0.666748 1.30001 0.666748 2.27817C0.666748 3.25608 1.38414 4.05635 2.26095 4.05635H7.92224C8.00617 4.05635 8.05922 4.15691 8.01831 4.23873L6.55871 7.16109C6.5054 7.24634 6.60147 7.34849 6.67538 7.28514L10.6546 3.73144C11.0645 3.40864 11.3334 2.87653 11.3334 2.27765C11.3334 1.29974 10.616 0.499473 9.73921 0.5Z" fill="#F9E9E7" />
                                </g>
                            </svg>
                            <span class="text-textPrimary text-Medium">
                                Join Zulip
                            </span>
                        </button>
                        <button class="bg-transparent border border-borderPrimary px-L py-SM rounded-L flex items-center justify-center md:max-w-[322px] w-full max-h-[43px]">
                            Ask Questions
                        </button>
                    </div>
                </div>

            </div>

    }
</div>

<div class="bg-backgroundTertiary">
    <div class="2xl:container mx-auto px-L md:py-XXL py-XL md:gap-[64px] gap-XL  font-inter">
        @await Html.PartialAsync("support/FAQ")
    </div>
</div>

<div class="bg-backgroundSecondary">
    <div class="2xl:container mx-auto md:py-XXL py-[64px] grid grid-cols-1 gap-XL  font-inter">
        <div class="flex flex-col gap-S">
            <h1 class="mx-auto text-H3 text-center text-textPrimary">Can’t find what you are looking for?</h1>
            <h4 class="mx-auto  text-H5 text-center text-textSecondary">The Unilake Support Team is ready to help.</h4>
        </div>
        <div class="mx-auto rounded-M grid md:grid-cols-3 grid-cols-1 gap-M p-M bg-backgroundSecondary md:w-[475px] w-full">
            <button class="w-full md:col-span-2 w-fit bg-brandPrimary h-[43px] text-Medium text-onBrandPrimary px-L py-SM rounded-L items-center flex md:justify-center">Contact Enterprise Sales</button>
            <button class="w-full h-[43px] text-textPrimary text-Medium rounded-L border border-borderPrimary px-L py-SM rounded-L items-center flex md:justify-center">Open Ticket</button>
        </div>
    </div>
</div>