@page "/changelog"
@attribute [RenderStatic]
@model Unilake.Www.Pages.Shared.changelog.ChangeLogModel
@{
}
@{
    ViewData["Title"] = "Unilake.Www ChangeLog";
}
<div class="2xl:container px-L md:py-XXL py-[64px] mx-auto grid grid-cols-1 md:gap-[64px] gap-XL font-inter">
    @{

        <div class="flex flex-col gap-M">
            <span class="text-H3 text-brandPrimary">Changelog</span>
            <span class="text-H5 text-textSecondary">New Updates and Product improvements</span>
        </div>

        <div class="grid grid-cols-1">

            <span class="font-normal text-H4 text-textPrimary md:col-span-3 col-span-1 mb-XL">December 2023</span>

            <div class="grid gap-XL">

                <div class="grid grid-cols-3">
                    <div class="border-l border-textSecondary relative mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none" class="absolute top-[-3px] left-[-4px]">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="rotate(90 4.5 4.5)" fill="#F37441" />
                        </svg>
                        <span class="ml-M text-Medium text-textSecondary">Dec 31</span>
                    </div>
                    <div class="col-span-2 grid rounded-L gap-L justify-end">
                        <img src="./img/changelog.svg" class="rounded-L border border-borderSecondary w-full h-full">
                        <p class="text-H4 text-textPrimary">Lorem ipsum dolor sit amet consectetur. A</p>
                        <p class="text-Medium text-textSecondary">
                            Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed
                            vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere
                            vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non.
                            Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem.
                            Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.
                        </p>
                        <span class="flex gap-S items-center">
                            <span class="text-Medium text-brandPrimary">
                                Read More
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                <path d="M7.99984 3.16669L7.05984 4.10669L10.7798 7.83335H2.6665V9.16669H10.7798L7.05984 12.8934L7.99984 13.8334L13.3332 8.50002L7.99984 3.16669Z" fill="#F37441" />
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="border-l border-textSecondary relative mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none" class="absolute top-[-3px] left-[-4px]">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="rotate(90 4.5 4.5)" fill="#F37441" />
                        </svg>
                        <span class="ml-M text-Medium text-textSecondary">Dec 21</span>
                    </div>
                    <div class="col-span-2 grid rounded-L gap-L justify-end">
                        <img src="./img/changelog.png" class="rounded-L border border-borderSecondary w-full h-full">
                        <p class="text-H4 text-textPrimary">Lorem ipsum dolor sit amet consectetur. A</p>
                        <p class="text-Medium text-textSecondary">
                            Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed
                            vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere
                            vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non.
                            Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem.
                            Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.
                        </p>
                        <span class="flex gap-S items-center">
                            <span class="text-Medium text-brandPrimary">
                                Read More
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                <path d="M7.99984 3.16669L7.05984 4.10669L10.7798 7.83335H2.6665V9.16669H10.7798L7.05984 12.8934L7.99984 13.8334L13.3332 8.50002L7.99984 3.16669Z" fill="#F37441" />
                            </svg>
                        </span>
                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="border-l border-textSecondary relative mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none" class="absolute top-[-3px] left-[-4px]">
                            <circle cx="4.5" cy="4.5" r="4.5" transform="rotate(90 4.5 4.5)" fill="#F37441" />
                        </svg>
                        <span class="ml-M text-Medium text-textSecondary">Dec 17</span>
                    </div>
                    <div class="col-span-2 grid rounded-L gap-L justify-end">
                        <img src="./img/changelog2.png" class="rounded-L border border-borderSecondary w-full h-full">
                        <p class="text-H4 text-textPrimary">Lorem ipsum dolor sit amet consectetur. A</p>
                        <p class="text-Medium text-textSecondary">
                            Lorem ipsum dolor sit amet consectetur. Risus facilisi vitae amet sed
                            vehicula turpis. Amet in aliquam risus in donec feugiat nisl. Odio et senectus enim duis interdum. Posuere
                            vulputate congue et euismod porttitor. Sit mollis vestibulum malesuada sit ipsum. Semper nec enim pretium nam turpis non.
                            Tincidunt pellentesque amet risus viverra leo in in pellentesque. Viverra facilisi sociis feugiat egestas aliquam justo sit lorem.
                            Purus mi orci suspendisse lectus sagittis congue. Molestie arcu mi malesuada felis mollis vitae ut nibh.
                        </p>
                        <span class="flex gap-S items-center">
                            <span class="text-Medium text-brandPrimary">
                                Read More
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                <path d="M7.99984 3.16669L7.05984 4.10669L10.7798 7.83335H2.6665V9.16669H10.7798L7.05984 12.8934L7.99984 13.8334L13.3332 8.50002L7.99984 3.16669Z" fill="#F37441" />
                            </svg>
                        </span>
                    </div>
                </div>

            </div>

        </div>
    }
</div>