@namespace Unilake.WebApp.DesignSystem.Components
@inherits UnilakeBaseComponent

<div class="@ClassNames">
    <div @onclick="Toggle" class="flex justify-between w-full items-center bg-neutral-background-faded cursor-pointer
    dark:bg-neutral-background-dark-faded rounded-lg border border-neutral-background-border-divider dark:border-neutral-background-dark-border-divider px-3 py-2">
        @Header
        <Icon IconInstance="ToggleIcon" Size="20"></Icon>
    </div>
    <div class="@ContentClassNames -mt-1 p-3 rounded-bl-lg rounded-br-lg border-l border-r border-b border-neutral-background-border-divider dark:border-neutral-background-dark-border-divider">
        <div class="mt-1">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public required RenderFragment Header { get; set; }
    [Parameter] public bool IsOpened { get; set; } = false;

    protected override string ClassNames => ClassBuilder.ToString();
    private string ContentClassNames => new ClassBuilder()
        .AddIfElse("", IsOpened, "hidden")
        .ToString();

    private Task Toggle()
    {
        IsOpened = !IsOpened;
        return Task.CompletedTask;
    }

    private IIcon ToggleIcon => IsOpened ? AnronIcons.ChevronUp : AnronIcons.ChevronDown;
}