@namespace Unilake.WebApp.Components

<div class="flex gap-1">
    <SimpleBadge Theme="SimpleBadgeTheme.TextOutline" Color="SimpleBadgeColor.Success">
        @StatusFigures.Succeeded
    </SimpleBadge>
    <SimpleBadge Theme="SimpleBadgeTheme.TextOutline" Color="SimpleBadgeColor.Error">
        @StatusFigures.Failed
    </SimpleBadge>
    <SimpleBadge Theme="SimpleBadgeTheme.TextOutline" Color="SimpleBadgeColor.Warning">
        @StatusFigures.Ignored
    </SimpleBadge>
</div>

@code {
    [Parameter, EditorRequired]
    public required DataQualityStatusFigures StatusFigures { get; set; }

    public record DataQualityStatusFigures(int Succeeded, int Failed, int Ignored);
}