@using Unilake.WebApp.DesignSystem
@namespace Unilake.WebApp.Components

<div class="@ClassNames">
    <Icon Size="20" IconInstance="IndicatorIcon"/>
</div>

@code {
    [Parameter, EditorRequired]
    public required IntegrationStatusIndicator Value { get; set; }

    private IIcon IndicatorIcon =>
        Value == IntegrationStatusIndicator.Added ? AnronIcons.Plus :
        Value == IntegrationStatusIndicator.Removed ? AnronIcons.Cross :
        Value == IntegrationStatusIndicator.Changed ? AnronIcons.Swap :
        AnronIcons.Minus;

    private string ClassNames => new ClassBuilder("flex w-7 h-7 p-2.5 rounded-[208px] items-center justify-center")
        .AddCompare("bg-feedback-success-background text-feedback-success-contrast dark:bg-feedback-dark-success-background dark:text-feedback-dark-success-contrast", Value, IntegrationStatusIndicator.Added)
        .AddCompare("bg-feedback-error-background text-feedback-error-contrast dark:bg-feedback-dark-error-background dark:text-feedback-dark-error-contrast ", Value, IntegrationStatusIndicator.Removed)
        .AddCompare("bg-feedback-warning-background text-feedback-warning-contrast dark:bg-feedback-dark-warning-background dark:text-feedback-dark-warning-contrast ", Value, IntegrationStatusIndicator.Changed)
        .AddCompare("bg-neutral-background-disabled text-typography-body dark:bg-neutral-background-dark-disabled dark:text-typography-dark-body", Value, IntegrationStatusIndicator.Unchanged)
        .ToString();

    public enum IntegrationStatusIndicator
    {
        Added,
        Removed,
        Changed,
        Unchanged
    }

}