@using Unilake.WebApp.DesignSystem
@namespace Unilake.WebApp.Components

<div class="flex flex-col gap-5">
    @foreach (var item in Items)
    {
        <div class="flex flex-row">
            <ProcessStatusIndicator Value="item.StatusIndicator"/>
            <div class="flex flex-col ml-1 gap-2">
                <p class="text-typography-headline dark:text-typography-dark-headline font-semibold">
                    @item.Title
                </p>
                <p>
                    @item.Description
                </p>
            </div>
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public required IEnumerable<ProcessStatusItem> Items { get; set; }
}